<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!-- properties files -->
    <!--<context:property-placeholder location="classpath*:my.properties" />-->

    <!-- m-v-c 控制器 -->
    <context:component-scan base-package="com.tcy.**.controller" />

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="false">
            <!-- 针对IE Json数据提示下载 -->
            <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes" value="text/plain;charset=UTF-8" />
            </bean>
            <!-- 乱码 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value="text/plain;charset=UTF-8" />
            </bean>
            <!--<bean class="org.springframework.http.converter.json.GsonHttpMessageConverter">

            </bean>-->
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 静态目录资源，设置后直接spring放行,还是会被拦截所有请求的拦截器拦截 -->
    <!--<mvc:resources mapping="/assets/**" location="/assets/" />-->

    <mvc:default-servlet-handler />


    <!--<mvc:view-resolvers>
        <mvc:jsp cache-views="false" prefix="/WEB-INF/vies/" suffix=".jsp"></mvc:jsp>
    </mvc:view-resolvers>-->
    <!-- 视图解析 -->
    <bean class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <!-- 返回的视图模型数据需要经过jstl来处理 -->
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
    </bean>
</beans>